.samplewebpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.samplewebpage-samplewebpage {
  width: 100%;
  height: 5124px;
  display: flex;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-herobanner {
  top: 0px;
  left: 0px;
  width: 1680px;
  height: 816px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0.5899999737739563);
}
.samplewebpage-pexelspaulijsendoorn33041 {
  top: 0px;
  left: 0px;
  width: 1680px;
  height: 816px;
  position: absolute;
}
.samplewebpage-bannertext-alignleft {
  top: 222px;
  left: 263px;
  width: 493px;
  height: 290px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-text {
  top: 166px;
  left: 4px;
  color: rgba(255, 255, 255, 1);
  width: 413px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text02 {
  top: 10px;
  color: rgba(255, 255, 255, 1);
  width: 493px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 72px;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-getstartedbutton {
  top: 547px;
  left: 263px;
  width: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.samplewebpage-base {
  gap: 8px;
  display: flex;
  padding: 12px 32px;
  align-items: center;
  border-radius: 999px;
  justify-content: center;
  background-color: rgba(180, 144, 101, 1);
}
.samplewebpage-text04 {
  color: var(--dl-color-button_text-buttonprimarytext);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-gallerybackground {
  top: 816px;
  left: 0px;
  width: 1680px;
  height: 3134px;
  position: absolute;
}
.samplewebpage-rectangle1 {
  top: 1234px;
  left: 218px;
  width: 1245px;
  height: 764px;
  position: absolute;
}
.samplewebpage-gallery {
  top: 983px;
  left: 349px;
  width: 983px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-text06 {
  left: 299px;
  color: rgba(117, 91, 60, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text08 {
  top: 80px;
  color: rgba(117, 91, 60, 1);
  width: 983px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-contact-usbackground {
  top: 3950px;
  left: 0px;
  width: 1680px;
  height: 1088px;
  position: absolute;
}
.samplewebpage-contact-us {
  top: 4121px;
  left: 933px;
  width: 509px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-text10 {
  color: rgba(117, 91, 60, 1);
  width: 502px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text12 {
  top: 80px;
  color: rgba(117, 91, 60, 1);
  width: 509px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-name {
  top: 4301px;
  left: 933px;
  width: 509px;
  height: 107px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-container1 {
  top: 35px;
  left: 0px;
  width: 509px;
  height: 72px;
  position: absolute;
  border-color: rgba(180, 144, 101, 1);
  border-style: solid;
  border-width: 1px;
}
.samplewebpage-text14 {
  top: 58px;
  left: 17.01823616027832px;
  color: rgba(117, 91, 60, 1);
  width: 473px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text16 {
  color: rgba(180, 144, 101, 1);
  width: 509px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-email-address {
  top: 4431px;
  left: 933px;
  width: 509px;
  height: 107px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-container2 {
  top: 35px;
  left: 0px;
  width: 509px;
  height: 72px;
  position: absolute;
  border-color: rgba(180, 144, 101, 1);
  border-style: solid;
  border-width: 1px;
}
.samplewebpage-text18 {
  top: 58px;
  left: 17.01823616027832px;
  color: rgba(117, 91, 60, 1);
  width: 473px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text20 {
  color: rgba(180, 144, 101, 1);
  width: 509px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-message {
  top: 4561px;
  left: 932px;
  width: 509px;
  height: 245px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-container3 {
  top: 35px;
  left: 0px;
  width: 509px;
  height: 210px;
  position: absolute;
  border-color: rgba(180, 144, 101, 1);
  border-style: solid;
  border-width: 1px;
}
.samplewebpage-text22 {
  top: 58px;
  left: 17.01823616027832px;
  color: rgba(117, 91, 60, 1);
  width: 473px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text23 {
  color: rgba(180, 144, 101, 1);
  width: 509px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-submitbutton {
  top: 4848px;
  left: 1302px;
  width: 140px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.samplewebpage-base1 {
  gap: 8px;
  display: flex;
  padding: 12px 32px;
  align-items: center;
  border-radius: 999px;
  justify-content: center;
  background-color: rgba(180, 144, 101, 1);
}
.samplewebpage-text25 {
  color: var(--dl-color-button_text-buttonprimarytext);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-footer {
  top: 5068px;
  left: 0px;
  width: 1680px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(180, 144, 101, 1);
}
.samplewebpage-text27 {
  top: 18px;
  left: 739px;
  color: rgba(255, 242, 228, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-contact-us1 {
  top: 1299px;
  left: 349px;
  width: 684px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-text29 {
  color: rgba(117, 91, 60, 1);
  width: 674px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text31 {
  top: 80px;
  color: rgba(117, 91, 60, 1);
  width: 684px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-rectangle2 {
  top: 2111px;
  left: 218px;
  width: 1245px;
  height: 764px;
  position: absolute;
}
.samplewebpage-contact-us2 {
  top: 2176px;
  left: 349px;
  width: 684px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-text33 {
  color: rgba(117, 91, 60, 1);
  width: 674px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text35 {
  top: 80px;
  color: rgba(117, 91, 60, 1);
  width: 684px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-rectangle3 {
  top: 2988px;
  left: 218px;
  width: 1245px;
  height: 764px;
  position: absolute;
}
.samplewebpage-contact-us3 {
  top: 3053px;
  left: 349px;
  width: 684px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-text37 {
  color: rgba(117, 91, 60, 1);
  width: 674px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text39 {
  top: 80px;
  color: rgba(117, 91, 60, 1);
  width: 684px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-album-component {
  top: 1488px;
  left: 318px;
  width: 1044px;
  height: 510px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-carousel-a {
  top: 0px;
  left: 30px;
  width: 983px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-carousel1 {
  top: 0px;
  left: 83px;
  width: 830px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-image1pexelsirinairiser13034013 {
  top: 0px;
  left: 0px;
  width: 830px;
  height: 401px;
  position: absolute;
}
.samplewebpage-carousel2 {
  top: 0px;
  left: 1027px;
  width: 830px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-image2pexelsirinairiser1408221 {
  top: 0px;
  left: 0px;
  width: 830px;
  height: 401px;
  position: absolute;
}
.samplewebpage-carousel3 {
  top: 0px;
  left: 1971px;
  width: 830px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-image3pexelstobi675764 {
  top: 0px;
  left: 0px;
  width: 830px;
  height: 401px;
  position: absolute;
}
.samplewebpage-buttonleft {
  top: 181px;
  left: 137px;
  width: 61px;
  height: 61px;
  position: absolute;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.samplewebpage-buttonright {
  top: 181px;
  left: 908px;
  width: 61px;
  height: 61px;
  position: absolute;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.samplewebpage-indicators {
  top: 349px;
  left: 489px;
  width: 64px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-ellipse1 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.samplewebpage-ellipse2 {
  top: 0px;
  left: 25px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.samplewebpage-ellipse3 {
  top: 0px;
  left: 50px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.samplewebpage-album-component {
  top: 2365px;
  left: 318px;
  width: 1044px;
  height: 510px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-carousel-b {
  top: 0px;
  left: 30px;
  width: 983px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-carousel11 {
  top: 0px;
  left: 83px;
  width: 830px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-pexelsjohannesplenio1103970 {
  top: 0px;
  left: 0px;
  width: 830px;
  height: 401px;
  position: absolute;
}
.samplewebpage-carousel21 {
  top: 0px;
  left: 1027px;
  width: 830px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-pexelsjeanfrenna1045113 {
  top: 0px;
  left: 0px;
  width: 830px;
  height: 401px;
  position: absolute;
}
.samplewebpage-carousel31 {
  top: 0px;
  left: 1971px;
  width: 830px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-pexelsrobertoshumski1903702 {
  top: 0px;
  left: 21px;
  width: 830px;
  height: 401px;
  position: absolute;
}
.samplewebpage-buttonleft1 {
  top: 181px;
  left: 137px;
  width: 61px;
  height: 61px;
  position: absolute;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.samplewebpage-buttonright1 {
  top: 181px;
  left: 908px;
  width: 61px;
  height: 61px;
  position: absolute;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.samplewebpage-indicators1 {
  top: 349px;
  left: 489px;
  width: 64px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-ellipse11 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.samplewebpage-ellipse21 {
  top: 0px;
  left: 25px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.samplewebpage-ellipse31 {
  top: 0px;
  left: 50px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.samplewebpage-album-component {
  top: 3242px;
  left: 317px;
  width: 1044px;
  height: 510px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-carousel-c {
  top: 0px;
  left: 30px;
  width: 983px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-carousel12 {
  top: 0px;
  left: 83px;
  width: 830px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-pexelsirinairiser14412611 {
  top: 0px;
  left: 0px;
  width: 830px;
  height: 401px;
  position: absolute;
}
.samplewebpage-carousel22 {
  top: 0px;
  left: 1027px;
  width: 830px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-pexelsstephanseeber1054289 {
  top: 0px;
  left: 0px;
  width: 830px;
  height: 401px;
  position: absolute;
}
.samplewebpage-carousel32 {
  top: 0px;
  left: 1971px;
  width: 830px;
  height: 401px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.samplewebpage-pexelsscottwebb1029604 {
  top: 0px;
  left: 0px;
  width: 830px;
  height: 401px;
  position: absolute;
}
.samplewebpage-buttonleft2 {
  top: 181px;
  left: 137px;
  width: 61px;
  height: 61px;
  position: absolute;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.samplewebpage-buttonright2 {
  top: 181px;
  left: 908px;
  width: 61px;
  height: 61px;
  position: absolute;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.samplewebpage-indicators2 {
  top: 349px;
  left: 489px;
  width: 64px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.samplewebpage-ellipse12 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.samplewebpage-ellipse22 {
  top: 0px;
  left: 25px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.samplewebpage-ellipse32 {
  top: 0px;
  left: 50px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.samplewebpage-contact-usimage {
  top: 3941px;
  left: -2px;
  width: 808px;
  height: 1088px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0.5899999737739563);
}
.samplewebpage-pexelsalexfu24791781 {
  top: 0px;
  left: 0px;
  width: 808px;
  height: 1088px;
  position: absolute;
}
.samplewebpage-navbar {
  top: 0px;
  left: 0px;
  width: 1680px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(117, 91, 60, 1);
}
.samplewebpage-text41 {
  top: 23px;
  left: 1212px;
  color: rgba(242, 209, 173, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text43 {
  top: 23px;
  left: 1322px;
  color: rgba(242, 209, 173, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-text45 {
  top: 23px;
  left: 1462px;
  color: rgba(242, 209, 173, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.samplewebpage-logo {
  top: 12px;
  left: 96.15789794921875px;
  width: 49px;
  height: 44px;
  position: absolute;
}
