.img-float{
	width: 250px;
	height: 250px;

	/*The float property will be either to the left or right. this positioning will depend of the content or sibling of the element you are selecting.	*/
	float: right;

	/*you can use z-index property for the prioritization of the stack of your elements. you can use negative values for the elements that are usually stacked below, and postive values for element stacked on top.	*/
	z-index: 1;
}

.parent-element{
	background-color: skyblue;
	padding: 10px;
	/*if the parent element has position:relative, then any children than have position: absolute will have their positions based on the parent instead of the whole page itself.	*/
	position: relative;
	height: 800vh;
	z-index: -1;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;

	/*static- this is the default positioning of any element	*/
	/*relative- this the opposite of static, wherein you can modify the top, left, bottom and the right properties to define the exact position of the element. aand it also depends on the parent element	*/
	/*	absolute - instead of depening on the parent element, it depend on the whole page itself. and you can still modify the exact position by usin top, left, bottom, and right properties.*/

	/*	fixed- this will attach to the page itself and will not move regardless on if you scroll. */
	/*sticky - this will be positioned relative by default but once it reaches a certain scroll point, then it will stick to the browser until it is back in its original position. the top property is crucial for it to be able to stick with spacing on the top.	*/
	/*position: absolute;
	left: 10px;
	bottom: 10px;*/
	position: sticky;
	top: 10px;
}
.child-three{
	background-color: indianred;
	padding: 10px;
	
}

/*to emulate a long scrolling page*/
html{
	height: 800vh;
}